$white: #fdead7;
$blue: #5585f7;
$salmon: #f7aa76;
$orange: #f86f43;
$purple: #3c365a;

$disabled: #7d72b4;

$white-beige: #fff6f4;
$red-dead: #c6485e;
$violet-target: #6f6bed;
$orange-target: #f7aa76;
$violet-clue: #6b6587;
$violet-clue-bg: #d4cdef;

$loader: #dedcea;

$font: "avara", serif;

$ft-s-xxsmall: 0.75rem; // 12px
$ft-s-xsmall: 1rem; // 16px
$ft-s-small: 1.25rem; // 20px
$ft-s-medium: 1.5rem; // 24px
$ft-s-large: 2rem; // 32px
$ft-s-xlarge: 3rem; // 48px

$ft-w-regular: 700;
$ft-w-bold: 900;

$peach-cloud: #fce2db;
$medium-pink: #f48eb0;
$majestic-magenta: #ee4887;
$flat-purple: #b370a2;
$medium-purple: #7b4595;
$dark-purple: #270f28;

$font-silkscreen: "Silkscreen", sans-serif;
$font-vt: "VT323", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-root: 1.2rem;
$font-size-s: 1rem;
$font-size-m: 1.6rem;
$font-size-l: 2.4rem;
