@import "reset";
@import "normalize";
@import "fonts";
@import "transitions";

html {
  height: -webkit-fill-available;
  touch-action: manipulation;

  *,
  *::after,
  *::before {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }

  body {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: $dark-purple;
    color: $peach-cloud;
    font-family: $font-vt;
    font-weight: $font-weight-regular;
    font-size: $font-size-root;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::after {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      z-index: -1; // hide images
      content: url("../../assets/images/pre-release-scenes-bg.png")
        url("../../assets/images/grain.jpeg")
        url("../../../public/images/ticket-machine.svg")
        url("../../../public/images/crowd.png")
        url("../../../public/images/turnstiles-en.png")
        url("../../../public/images/turnstiles-vn.png")
        url("../../../public/images/train-platform.png")
        url("../../../public/images/controller.png")
        url("../../../public/images/bubble.png")
        url("../../../public/images/gift.png"); // load images
    }
  }
}
