@import "reset";
@import "normalize";
@import "fonts";
@import "transitions";

html {
  height: -webkit-fill-available;
  touch-action: manipulation;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: $dark-purple;
    color: $peach-cloud;
    font-family: $font-vt;
    font-weight: $font-weight-regular;
    font-size: $font-size-root;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
